html {
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Hiragino Sans', Meiryo, sans-serif;
    font-size: 1.4rem;
  }
  
  .table-container {
    border: 1px solid #e8e8e8;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 6px rgba(204, 204, 204, 0.5);
  }
  
  .table {
    width: 500px;
    border-collapse: collapse;
    /* ここまで */
  }
  
  .table-heading {
    width: 25%;
    padding: 8px;
    text-align: center;
    border: 1px solid #e8e8e8;

  }
  
  .plan {
    width: 25%;
    padding: 8px;
    text-align: center;
    background-color: #f6a300;
    color: #fff;
    border-right: 1px solid #ffb342;
  
  }
  
  .plan:last-child {
    border-right: none;
  }
  
  .table-data {
    width: 25%;
    padding: 8px;
    text-align: center;
    border: 1px solid #e8e8e8;
  
  .table-heading:first-child,
  .table-data:first-child {
    border-left: none;
  }
  
  .table-heading:last-child,
  .table-data:last-child {
    border-right: none;
  }
  
  .table-row:first-child th,
  .table-row:first-child td {
    border-top: none;
  }
  
  .table-row:last-child th,
  .table-row:last-child td {
    border-bottom: none;
  }
  